[submodule "cookbooks/ruby"]
	path = cookbooks/ruby
	url = https://github.com/powow/chef-ruby.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/tmux"]
	path = cookbooks/tmux
	url = https://github.com/powow/chef-tmux.git
